<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
    
      
  
    <div class="container" style="position:relative "> 
  <table id ="#usertable" >
    <td width = '999999px'>
        
            <div class="navbar-header page-scroll">
              <a class="navbar-brand" href="/home">Emoji Scavenger Hunt</a>
            </div>
    </td>
      <td valign="middle"><img  src="{{ userImage }}" height="30px" width="30px"></td>
      <td valign="middle"> <span style="font-size: 20px;">{{username}}</span></td>
    </table>
    <!-- <div  id = "userinfo" style="height:40px"> 
        <div style="float: initial;">
           
        </div>           
    </div> -->
  </div>
  
</nav>
