<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   Press Play
  </h1>

  <div class="row">
    
    <video #videoElement width="224px" height="224px"></video>
  </div>
  <div class="content">
    <div *ngIf='is_playing'><span > I see  </span><div> {{predictions}}</div></div>
    <span>Find me  {{find_this}}</span>
    <button (click)="start()" class="btn btn-primary">Play</button>
    <button (click)="pause()" class="btn btn-warning">Pause</button>
  </div>
</div>

